version: '3.8'
services:
  web-app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - 3000:4321
    volumes:
      - .:/app
    environment:
      - NODE_ENV=production